body {
  background-color: #F7EEEE;
  font-family: monospace;
}

h2 {
  font-size: 10px;
  font-family: sans-serif;
}

td, th {
  border: 1px solid #DEBDBD;
  text-align: center;
  padding: 8px;
  height: 15px;
  width: 15px;
}
th {
  background-color: #DEBDBD;
}
